# Análise Exploratória dos dados(Cap1) - Pense Estatística, 2º Edição.

## Universidade Federal de Alagoas - UFAL
## Centro de Tecnologia - CTEC
## Programa de Pós-Graduação Recursos Hídricos e Saneamento - PPGRHS
### Disciplina de Estatística

Clebson Farias

In [1]:
from __future__ import print_function, division

%matplotlib inline

import numpy as np
import pandas as pd

import thinkstats2
import thinkplot

Informação não confirmada são baseados em dados que são inéditos e normalmente pessoais.

Informações não confirmadas normalmente falha:

- Pequeno número de observação;

- Viés de seleção;

- Viés de confirmação;

- Inexatidão;

## Uma abordagem estatística

Ferramentas estatísticas para diminuir as anetodas:

- Coleta de dados;

- Estatísticas descritivas; 

- Análise exploratória de dados;

- Estimativa;

- Teste de hipóteses.

## Dados

- **Séries de vazões naturais** (reconstituídas pela ONS);

- **Séries de vazões observadas** (ANA):
    
    - Nome da Estação: UHE MANSO JUSANTE 
    
    - Código: 66210000
    
    - Nome da Estação: FAZENDA RAIZAMA (COIMBRA)
    
    - Código: 66231000
    
- **Séries de chuvas observadas** (ANA):

    - Nome da Estação: FAZENDA RAIZAMA (COIMBRA)
    
    - Código: 01455008
    
- **Séries de Evapotranspiração** (INMET):

    - Estação: CUIABÁ
    
    - Código: 83361
    
    - Estação: DIAMANTINO
    
    - Código: 83309
    
    - Estação: PADRE RICARDO REMETTER
    
    - Código: 83364

## Importação de dados

![](gantt_manso_com_evap.png)

In [11]:
dados = pd.read_csv("dados_com_evap_manso.csv", index_col=0, parse_dates=True)
date_start = pd.to_datetime("01/01/1982", dayfirst=True)
date_end = pd.to_datetime("31/12/1986", dayfirst=True)

## Variáveis

- Pluviométrica;
    
- Fluviométrica;

- Evaporação;

## Transformação

Os dados são exportados de suas fontes e com diferentes formatos. Esses foram transformados em um Pandas DataFrame.

In [12]:
dados_.head(5)

,COIMBRA_P,MANSO_JUS,COIMBRA_F,Evap_CUIABA,Evap_DIAM,Evap_RICAR,MANSO
1982-01-01,0.0,NaN,248.865,2.3,1.2,NaN,243.0
1982-01-02,0.0,NaN,333.847,1.3,0.4,NaN,329.0
1982-01-03,0.0,NaN,295.620,2.9,1.1,NaN,290.0
1982-01-04,0.0,NaN,305.919,1.7,0.9,NaN,300.0
1982-01-05,0.0,NaN,387.954,3.7,1.9,NaN,386.0